{{#each this}}
<article id={{id}} class="advert">	
	<div class="inner">
		<header>
			<img class="adImg" src="{{thumb}}" />
			<h1><strong>Name:</strong>{{label}}</h1>
		</header>
		
		<section>
			{{#equal type "missile"}}
				{{> missile}}
		  	{{/equal}}
		  	{{#equal type "event" }}
				{{> event}}
		  	{{/equal}}
		  	{{#equal type "report"}}
				{{> report}}
		  	{{/equal}}
		</section>
		{{#if children}}
		<section>
			<a id="{{id}}_more" class="info more" href="#">More Info</a>
			{{#each children}}
				<div id="{{../id}}_{{this}}_child" class="subC"></div>
			{{/each}}
		</section>
		{{else}}
			<br class="clear">
		{{/if}}
	</div>
	<div class="bdiv">
		{{#if children}}
			<img class="down" src="images/down-arrow.gif">
		{{/if}}
	</div>
</article>
{{/each}}
